{% extends "base.html" %}
{% block title %} Home {% endblock title%}
{% block content %}
{% load static %}

<hr class="my-4">
<p class="lead">
    {% if user.is_authenticated %}

	<section class="main-content">
		<div class="container">
			<h1 class="text-center">Doctors' Profile</h1>
			<br>

			<div class="card" style="margin-left: 15%; margin-right: 15%; margin-bottom: 5%;">
				<div class="card-body">
					<h5 class="card-title">You have been logged out</h5>
					<p class="card-text">
						Thanks for your time, contact me for any comments or suggestions.

						<address class="address">
							Developer : Upol Chowdhury <br>
							Email : <b>upol@gmail.com</b> <br>
							Education : BSc in CSE @ CUET <br>
							Address : Chittagong, Bangladesh <br>
						</address>
					</p>
				</div>
			</div>

			<div class="row">
				<div style="float: left; width: 30%; margin-left: 2%;">
					<div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center position-relative overflow-hidden">
						<div class="banner"></div>
						<img src="{% static 'images/doctor.png' %}" alt="" class="img-circle mx-auto mb-3">
						<h3 class="mb-4">Kiran Acharya</h3>
						<div class="text-left mb-4">
							<p class="mb-2"><i class="fa fa-envelope mr-2"></i> kiranacharya287@gmail.com</p>
							<p class="mb-2"><i class="fa fa-phone mr-2"></i> +91 9876543215</p>
							<p class="mb-2"><i class="fa fa-globe mr-2"></i> kiranworkspace.com</p>
							<p class="mb-2"><i class="fa fa-map-marker-alt mr-2"></i> Bangalore</p>
						</div>
					</div>
				</div>

				<div style="float: left; width: 30%; margin-left: 3%;">
					<div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center position-relative overflow-hidden">
						<div class="banner"></div>
						<img src="{% static 'images/doctor.png' %}" alt="" class="img-circle mx-auto mb-3">
						<h3 class="mb-4">Kiran Acharya</h3>
						<div class="text-left mb-4">
							<p class="mb-2"><i class="fa fa-envelope mr-2"></i> kiranacharya287@gmail.com</p>
							<p class="mb-2"><i class="fa fa-phone mr-2"></i> +91 9876543215</p>
							<p class="mb-2"><i class="fa fa-globe mr-2"></i> kiranworkspace.com</p>
							<p class="mb-2"><i class="fa fa-map-marker-alt mr-2"></i> Bangalore</p>
						</div>
					</div>
				</div>

				<div style="float: left; width: 30%; margin-left: 3%;">
					<div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center position-relative overflow-hidden">
						<div class="banner"></div>
						<img src="{% static 'images/doctor.png' %}" alt="" class="img-circle mx-auto mb-3">
						<h3 class="mb-4">Kiran Acharya</h3>
						<div class="text-left mb-4">
							<p class="mb-2"><i class="fa fa-envelope mr-2"></i> kiranacharya287@gmail.com</p>
							<p class="mb-2"><i class="fa fa-phone mr-2"></i> +91 9876543215</p>
							<p class="mb-2"><i class="fa fa-globe mr-2"></i> kiranworkspace.com</p>
							<p class="mb-2"><i class="fa fa-map-marker-alt mr-2"></i> Bangalore</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    {% endif %}

{% endblock content %}